.content {
  width: 100%;
  min-height: 120vh;
  background: white!important;
  border-radius: 0 3rem 0 0;
  padding: 2rem 1rem;
  columns: 2;
  column-gap: .5rem;
  
  .item {
    background: $bgMain;
    height: auto;
    border-radius: 1rem;
    margin-bottom: .75rem;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    break-inside: avoid;
    position: relative;
    box-shadow: 6px 6px 12px lightgrey;
    
    img {
      max-width: 100%;
    }
    
    .layer {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      opacity: 0;
      background: rgba($color: black, $alpha: .45);
      transition: .3s ease-in;
      
      a {
        text-decoration: none;
        color: whitesmoke;
        font-size: .65em;
        transition: .3s;
        
        &:active {
          letter-spacing: 3px;
        }
      }
    }
    
    &:hover .layer, &:active .layer {
      opacity: 1;
    }
  }
}