/* VARIABELS */

/* FONTS */
$textMain : #3C3C3C;
$textSecondary: #505050; 
$paw : #00FF47;
$textNoActive : #A08F8F;
$border : #19D44D;

/* BACKGROUNDS */
$bgMain : #F5F5F5;
$bgSecondary : #A7FFDB;
$bgSecondary2 : #75FFC7;